<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <ion-tab href="#/tab/dash" icon-on="ion-ios7-pulse-strong" icon-off="ion-ios7-pulse" title="Status">
        <ion-nav-view name="tab-dash"/>
    </ion-tab>
    <ion-tab href="#/tab/chats" icon-on="ion-ios7-chatboxes" icon-off="ion-ios7-chatboxes-outline" title="Chats">
        <ion-nav-view name="tab-chats"/>
    </ion-tab>
    <ion-tab href="#/tab/friends" icon-on="ion-ios7-heart" icon-off="ion-ios7-heart-outline" title="Friends">
        <ion-nav-view name="tab-friends"/>
    </ion-tab>
    <ion-tab href="#/tab/account" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline" title="Account">
        <ion-nav-view name="tab-account"/>
    </ion-tab>
</ion-tabs>